<header class="header container">
  <section class="header__goldBar container">
    <div class="header__goldBar--inner">
      <button aria-haspopup="true" class="header__goldBar--moButton" aria-expanded="false" >
        <i class="fas fa-bars" aria-hidden="true"></i>&nbsp;
        Quick Links
      </button>
      <section class="header__goldBar--menus">
        
        <nav class="header__goldBar__findInfoFor">
          <button aria-haspopup="true" aria-expanded="false" >
            Find Info For
            <span><i class="fas fa-chevron-down"></i></span>
          </button>
          <span>Find Info For</span>
          <ul role="menu" id="findInfoFor">
            <li role="none"><a role="menuitem" href="#">Academics</a></li>
            <li role="none"><a role="menuitem" href="#">Admissions</a></li>
            <li role="none"><a role="menuitem" href="#">Current Students</a></li>
            <li role="none"><a role="menuitem" href="#">Athletics</a></li>
            <li role="none"><a role="menuitem" href="#">About</a></li>
            <li role="none"><a role="menuitem" href="#">Careers</a></li>
            <li role="none"><a role="menuitem" href="#">Prospective Students</a></li>
            <li role="none"><a role="menuitem" href="#">Research and Partnerships</a></li>
            <li role="none"><a role="menuitem" href="#">Entrepreneurship and Commercialization</a></li>
          </ul>
        </nav>
        <nav class="header__goldBar__quickLinks">
          <span>Quick Links</span>
        <ul role="menu">
          <li role="none"><a role="menuitem" href="#">Apply</a></li>
          <li role="none"><a role="menuitem" href="#">News</a></li>
          <li role="none"><a role="menuitem" href="#">President</a></li>
          <li role="none"><a role="menuitem" href="#">Shop</a></li>
          <li role="none"><a role="menuitem" href="#">Visit</a></li>
          <li role="none"><a role="menuitem" href="#">Give</a></li>
          <li role="none"><a role="menuitem" href="#">Emergency</a></li>
        </ul>
      </nav>
      </section>
      <button class="header__goldBar__search" aria-haspopup="true" aria-expanded="false"><i class="fas fa-search" aria-hidden="true"></i></button>
      <span class="sr-only">Search</span>
      <section id="searchDropdown" class='header__goldBar__search--dropdown'>
        <div class='header__goldBar__search--container'>
          <div class="form-group">
            <script>
              (function() {
                var cx = '017690826183710227054:mjxnqnpskjk';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:searchbox-only id="cse-search-form" resultsUrl="https://www.purdue.edu/purdue/search.php" queryParameterName="q">
              Loading
            </gcse:searchbox-only>     
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="header__signature container">
    <section class="header__signature--inner">
      <a class="header__signature--logo" id="purdueLogo" href="https://www.purdue.edu" aria-label="Purdue Logo">
        <div>
          <object data="https://www.purdue.edu/purdue/images/PU-H.svg" tabindex='-1' type="image/svg+xml" aria-labelledby="purdueLogo"></object>
        </div>
      </a>
      <article class="header__signature--siteName">
        <a id="siteName" href="#">{{site-name}}</a>
        {{#site-tagline}}
        <div id="siteTagline">
          <a href="{{link}}">{{title}}</a>
        </div>
        {{/site-tagline}}
      </article>
    </section>
  </section>
  <nav class="header__mainNav container">
    <button id="mainNavMo" aria-haspopup="true" aria-expanded="false" >
      <i class="fas fa-bars" aria-hidden="true"></i>
      Menu
    </button>
    <section class="header__mainNav--main">
      <ul role='menubar' aria-label="Main Navigation">
        <li role="none"><a role='menuitem' href="{{nav.depth}}office/office-tiles-4.html">Home</a></li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="{{nav.depth}}college/college-mixed.html">College<span><i class="fas fa-chevron-down"></i></span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-mixed.html">Mixed Tiles Example</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-test.html">Big tile Example</a></li>
            <li role="none">
              <a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="{{nav.depth}}college/college-audience-1.html">Audience Tiles<span><i class="fas fa-chevron-right"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownInner">
                <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-audience-1.html">Audience Tiles Example 1</a></li>
                <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-audience-2.html">Audience Tiles Example 2</a></li>
              </ul>
            </li>
            <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button--inner dropdown-button" href="{{nav.depth}}college/college-news-1.html">News Tiles<span><i class="fas fa-chevron-right"></i></span></a>
              <ul role='menu' class="header__mainNav--dropdownInner">
                <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-news-1.html">News Tiles Example 1</a></li>
                <li role="none"><a role='menuitem' href="{{nav.depth}}college/college-news-2.html">News Tiles Example 2</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="{{nav.depth}}office/office-tiles-2.html">Department/Office<span><i class="fas fa-chevron-down"></i></span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="{{nav.depth}}office/office-tiles-2.html">Department/Office 2 tiles</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}office/office-tiles-3.html">Department/Office 3 tiles</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}office/office-tiles-4.html">Department/Office 4 tiles</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}office/office-tabs.html">Department/Office tabs</a></li>
          </ul>
        </li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="{{nav.depth}}audience/audience-1.html">Audience<span><i class="fas fa-chevron-down"></i></span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="{{nav.depth}}audience/audience-1.html">Audience option 1</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}audience/audience-2.html">Audience option 2</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}audience/audience-3.html">Audience option 3</a></li>
          </ul>
        </li>
        <li role="none"><a role='menuitem' href="{{nav.depth}}content.html">Content</a></li>
        <li role="none"><a role='menuitem' href="{{nav.depth}}blank.html">Blank</a></li>
        <li role="none"><a role="menuitem" aria-haspopup="true" aria-expanded="false" class="dropdown-button" href="{{nav.depth}}components/accordion.html">Web Components<span><i class="fas fa-chevron-down"></i></span></a>
          <ul role='menu' class="header__mainNav--dropdownOuter">
            <li role="none"><a role='menuitem' href="{{nav.depth}}components/accordion.html">Accordion</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}components/button.html">Button</a></li>
            <li role="none"><a role='menuitem' href="{{nav.depth}}components/typography.html">Typography</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</header>
